<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Spring">
    <city>
      <month>March</month>
      <listing> </listing>
    </city>
    <city>
      <month>April</month>
      <listing>3.50</listing>
    </city>
    <city>
    <motn>May</month>
      <listing>3.20</listing>
    </city>
  </category>
  <category name="Summer">
    <city>
      <month>June</month>
      <listing>4.50</listing>
    </city>
    <city>
      <month>July</month>
      <listing>5.00</listing>
    </city>
    <city>
      <month>Agust</month>
      <listing>5.00</listing>
    </city>
  </category>
  <category name="Autumn">
    <city>
      <month>September</month>
      <listing>5.00</listing>
    </city>
    <city>
      <month>October</month>
      <listing>5.00</listing>
    </city>
    <city>
      <month>November</month>
      <listing>5.00</listing>
    </city>
  </category>
  <category name="Winter">
    <city>
      <month>December</month>
      <listing>5.00</listing>
    </city>
    <city>
      <month>January</month>
      <listing>5.00</listing>
    </city>
    <city>
      <month>Febuary</month>
      <listing>5.00</listing>
    </city>
  </category>
</menu>