<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<menu>
  <category name="Spring">
    <city>
      <month>March</month>
      <listing>Malaga</listing>
    </city>
    <city>
      <month>April</month>
      <listing>Paris</listing>
    </city>
    <city>
    <motn>May</month>
      <listing>Amsterdam</listing>
    </city>
  </category>
  <category name="Summer">
    <city>
      <month>June</month>
      <listing>Milan</listing>
    </city>
    <city>
      <month>July</month>
      <listing>Berlin</listing>
    </city>
    <city>
      <month>Agust</month>
      <listing>Nice</listing>
    </city>
  </category>
  <category name="Autumn">
    <city>
      <month>September</month>
      <listing>Barcelona</listing>
    </city>
    <city>
      <month>October</month>
      <listing>Porto</listing>
    </city>
    <city>
      <month>November</month>
      <listing>Casablanca</listing>
    </city>
  </category>
  <category name="Winter">
    <city>
      <month>December</month>
      <listing>Helsinki</listing>
    </city>
    <city>
      <month>January</month>
      <listing>Warsawa</listing>
    </city>
    <city>
      <month>Febuary</month>
      <listing>Liverpool</listing>
    </city>
  </category>
</menu>